extends layout

block content
    h1 #{title}: #{consoleinstance.console.name}
    br
    b Do you really want to delete this Console Instance?
    form(method='POST')
        div.form-group
            input#consoleinstanceid.form-control(type='hidden' name='consoleinstanceid', value=consoleinstance._id )

        button.btn.btn-primary(type='submit') Delete